
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* ***styling the main*** */
main{
  margin-right: 100px;
  margin-left:100px;
  margin-top: 50px;
  border-radius: 10px;
 
  }

/****** Styling the Top *****/


.top-part{
  background-color: rgba(0, 0, 0, 0.918);
  border-radius: 10px;
}
.top-part:hover{
  background-color: #979797;
  transition-delay: 1s;
  transition-duration: 3s;

}
.header{
  height: 500px;
  display: flex;
  margin-left: 30px;
}  

.heading{
  color: aliceblue;
  font-size: 30px;
  font-weight:700;
  margin-bottom: 0px;

}
.heading:hover{
  font-size: 37px;
  color: aqua;
  transition-delay: 1s;
  transition-duration: 3s;



}
.details{
  color: aliceblue;
  margin-top: 0px;
}
.header-part-1{
  margin-left: 30px;
 }

 .details{

 }
 .press{background-color: red;
        border-radius: 5px;
        width: 150px;
        height: 50px;
        color: antiquewhite;
        font-size: 20px;
        font-weight: 700;

 }



.header-part-2{
 

}
.header-part-2 img{
  height: 500px;
  margin-right: 40px;
}



/* ****styling the middle part ****/

.middle{
  display: flex;
  margin-top: 50px;
  flex
  }

.middle-part1{
  width: 212px;
  height: 212px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  text-decoration:none;
}
.part1details1{
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 700;
  background-color: red;
  color: black;



}
.part1details2{
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 700;


}

.part1details3{
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  margin-bottom: 25px;
  background-color: white;
  font-weight: 700;
  color: black;
}

.middle-part2{
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 40px;
  height: 700px;
  border-radius: 10px;
  border-color: black;
  
}

.part2details1{
  width: 170px;
  height: 300px;
  border-radius: 10px;
  border: 2 px solid #979797;
}
.proper{
  width:100%;
}

.line{
  display: flex;
  padding: 5px;
}
.line2{
  margin-left: 10px;
}


/* ****Styling for footer *****/

.footer{
  background-color: rgba(0, 0, 0, 0.918);
}

.footer h1{
  font-size: 25px;
  font-weight: 700;
  margin-right: 500px;
  margin-left: 550px;
  color: azure;
  padding-top: 100px;

}
.lastpart03 p{
  color: aliceblue;
  margin-left: 110px;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 100px;
  font-size: 6px;
  font-weight: bold;
  }

hr{
  color: 0.3px solid rgb(128, 128, 128);
  margin-right: 100px;
  margin-left: 100px;
}


/**** Style for the second part**** */

.flagpart{
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  padding-left: 40px;
}
.flag1{
  width: 160px;
  height: 300px;
  grid-gap: 40px;
  
}
.flag1 p{
  font-weight: 700;
}
.flag1 h6{
  margin-left: 20px;
  display: block;
}
.flag-image{
  display: flex;

}
.footerimage {
  align-items: center;
  display: inline flex;
  margin-left: 900px;
  background-color: azure;
  padding: 25px;

}

