
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* ***styling the main*** */
main{
  margin-right: 100px;
  margin-left:100px;
  margin-top: 50px;
  border-radius: 10px;
 
  }

/****** Styling the Top *****/


.top-part{
  background-color: rgba(0, 0, 0, 0.918);
  border-radius: 10px;
}
.top-part:hover{
  background-color: #979797;
  transition-delay: 1s;
  transition-duration: 3s;

}
.header{
  height: 500px;
  display: flex;
  margin-left: 30px;
}  

.heading{
  color: aliceblue;
  font-size: 30px;
  font-weight:700;
  margin-bottom: 0px;
}
.heading:hover{
  color: aqua;
  transition-delay: 1s;
  transition-duration: 3s;



}
.details{
  color: aliceblue;
  margin-top: 0px;
}
.header-part-1{
  margin-left: 30px;
 }

 .press{background-color: red;
        border-radius: 5px;
        width: 150px;
        height: 50px;
        color: antiquewhite;
        font-size: 20px;
        font-weight: 700;

 }

.header-part-2 img{
  height: 500px;
  margin-right: 40px;
}

/* ****styling the middle part ****/
.middle{
  display: flex;
  margin-top: 50px;
  }
.middle-part1{
  width: 212px;
  height: 212px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  text-decoration:none;
}
.part1details1{
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 700;
  background-color: red;
  color: black;
}
.part1details2{
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 700;
}

.part1details3{
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  margin-bottom: 25px;
  background-color: white;
  font-weight: 700;
  color: black;
}

.middle-part2{
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 40px;
  height: 700px;
  border-radius: 10px;
  border-color: black;
  
}
.part2details1{
  width: 170px;
  height: 300px;
  border-radius: 10px;
  border: 2 px solid #979797;
}
.proper{
  width:100%;
}
.line{
  display: flex;
  padding: 5px;
}
.line2{
  margin-left: 10px;
}

.view-all button{
  background-color: red;
  color: antiquewhite;
  margin-left: 170px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  width: 150px;
  padding: 10px;
  height: 50px;
  border: none;
}

/* ****Styling for footer *****/

.footer{
  background-color: rgba(0, 0, 0, 0.918);
}

.footer h1{
  font-size: 25px;
  font-weight: 700;
  margin-right: 500px;
  margin-left: 550px;
  color: azure;
  padding-top: 100px;

}
.lastpart03 p{
  color: aliceblue;
  margin-left: 110px;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 100px;
  font-size: 6px;
  font-weight: bold;
  }

hr{
  color: 0.3px solid rgb(128, 128, 128);
  margin-right: 100px;
  margin-left: 100px;
}


/**** Style for the second part**** */

.flagpart{
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
 
}
.flag1{
  height: 300px;
  grid-gap: 10px;
  
}
.flag1 p{
  font-weight: 700;
}
.flag1 h6{
  margin-left: 20px;
  display: block;
}
.flag-image{
  display: flex;

}
.footerimage {
  align-items: center;
  display: inline flex;
  margin-left: 900px;
  background-color: azure;
  padding: 25px;

}

@media all and (min-width: 1025px ) and (max-width:1200px){

  .view-all {
    display: none;
  }

}
@media all and (min-width: 769px ) and (max-width:1024px){

  .view-all {
    display: none;
  }

}



@media all and (min-width: 481px ) and (max-width:768px){



  main{
    margin-right: 5px;
    margin-left:5px;
    margin-top: 20px;
     }

    .top-part{
      
     }  

     .header{
      height: 500px;
      display: flex;
      width: 100%;
      margin-right: 50px;
    }   
  .heading{
    font-size: 40px;
  }
  .details{
    font-size:8px;
  }
  .press{
    background-color: red;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        color: antiquewhite;
        font-size: 7px;
        font-weight: 700;
  }

  .header-part-2 img{
    width: 80%;

  }
  .middle{
    margin-top: 50px;
    display: block;
    }
  .middle-part1{
    display: flex;
    text-decoration:none;
    justify-content: center;
    margin-left: 150px;

  }

  .middle-part2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    height: 1000px;
    border-radius: 10px;
    border-color: black;
    
  }

  .part2details1{
    width: 180px;
    height: 300px;
    border-radius: 10px;
    border: 2 px solid #979797;
  }


  .footer h1{
    font-size: 25px;
    font-weight: 700;
    margin-left: 220px;
    color: azure;
    padding-top: 100px;
  
  }
  .lastpart03 p{
    color: aliceblue;
    margin-left: 60px;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 100px;
    font-size: 6px;
    font-weight: bold;
    }
  
  hr{
    color: 0.3px solid rgb(128, 128, 128);
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .footerimage {
    align-items: center;
    display: inline flex;
    margin-left: 280px;
    background-color: azure;
    padding: 25px;
  
  }
  .view-all{
    display: block;
    visibility: show;
    margin-top: 50px;
    margin-right: 250px;
  }
  
  /* for the second */



.flagpart{
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  
}
.flag1{
  margin-top: 20px;
  width: 200px;
  height: 300px;
  grid-gap: 20px;
  
}
.flag1 p{
  font-weight: 700;
}
.flag1 h6{
  margin-left: 20px;
  display: block;
}
.flag-image{
  display: flex;

}

}


/* Responsiveness for mobile devices */

@media all and (min-width: 320px ) and (max-width:480px){

  .view-all {
    display: none;
  }

  main{
    margin-right: 2px;
    margin-left:2px;
    margin-top: 5px;
    border-radius: 10px;
   
    }
   
    .header{
      height: 802px;
      display: flex;
      flex-wrap: wrap;
      width: 90%;
    }  
    .heading{
      color: aliceblue;
      font-size: 25px;
      font-weight:700;
      margin-bottom: 0px;
      margin-right: 50px;
    }
    .header-part-1 details{
    font-size:8px;
  }
  .press{
    background-color: red;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        color: antiquewhite;
        font-size: 7px;
        font-weight: 700;
  }

  .header-part-2 img{
    width: 90%;
    margin-right: 50px;
   
  }
  .middle{
    margin-top: 50px;
    display: block;
    }
  .middle-part1{
    display: flex;
    text-decoration:none;
    margin-left:50px;

  }

  .middle-part2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 40px;
    height: 2500px;
    border-radius: 10px;
    border-color: black;
    
  }

  .part2details1{
    width: 220px;
    height: 300px;
    border-radius: 10px;
    border: 2 px solid #979797;
  }


  .footer h1{
    font-size: 25px;
    font-weight: 700;
    margin-left: 150px;
    color: azure;
    padding-top: 100px;
  
  }
  .lastpart03 p{
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 100px;
    font-size: 6px;
    font-weight: bold;
    display: block;
    justify-content: center;
    }
  
  hr{
    color: 0.3px solid rgb(128, 128, 128);
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .footerimage {
    align-items: center;
    display: inline flex;
    margin-left: 150px;
    background-color: azure;
    padding: 25px;
  
  }
  /* for the second */



.flagpart{
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  padding-left: 80px;
}
.flag1{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  grid-gap: 40px;
  
}
.flag1 p{
  font-weight: 700;
}
.flag1 h6{
  margin-left: 20px;
  display: block;
}
.flag-image{
  display: flex;

}

}


